<swiper-container slides-per-view="3.1" free-mode="true">
  <swiper-slide *ngFor="let pares of peliculas | pares">
    <ion-row>
      <ion-col size="12" *ngFor="let pelicula of pares">
        <ion-card>
          <img class="poster" [src]="pelicula.poster_path | imagen">
          <!-- <ion-card-title class="ion-text-center">{{pelicula.title}}</ion-card-title> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </swiper-slide>
  <swiper-slide class="slide-mas">
    <ion-button class="btn-mas" (click)="onClick()" size="large" expand="full">
      <ion-icon name="add" slot=""></ion-icon>
    </ion-button>
  </swiper-slide>
</swiper-container>